.toggle {
  background: #f9f6f065;
  border: 2px solid #6d4c2b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 0;
}

.toggle:hover {
  background: #f9f6f0b7;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .toggle {
    font-size: 1rem;
  }
}
