.container {
  padding: 2rem 0;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 1rem;
}

.searchResults {
  background-color: rgba(139, 107, 61, 0.8);
  padding: 1rem;
  border-radius: 8px;
  margin: 0rem 1rem;
  text-align: center;
  color: #f0e6d2;
  border: 2px solid #6d4c2b;
}

.noResults {
  text-align: center;
  padding: 3rem;
  color: #f0e6d2;
}

.noResults h3 {
  margin-bottom: 1rem;
}

.error,
.loading {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

.error {
  color: #ff6b6b;
}

.loading {
  color: #f0e6d2;
}
